<section id="login" fxLayout="row">
    <div id="login-form-wrapper" fxLayout="row" fxLayoutAlign="center center">
        <div id="login-form" fxLayout="row">
            <div id="login-form-img-wrapper" fxLayout="column">
                <div fxLayoutAlign="center center">
                    <img src="../../assets/imgs/auth/login.png" id="login-form-img" />  
                </div>
            </div>
            <div id="login-form-input-wrapper" fxLayout="column">
                <div class="form-field">
                    <div class="title">LOGIN TO YOUR ACCOUNT</div>
                    <div [formGroup]="loginForm" novalidate>
                        <mat-form-field appearance="outline"> 
                            <mat-label>Email</mat-label>
                             <input matInput name="email" formControlName="email" required/>
                             <mat-icon matSuffix class="secondary-text">mail</mat-icon>

                        </mat-form-field>

                        <mat-form-field appearance="outline"> 
                            <mat-label>Password</mat-label>
                             <input matInput name="password" formControlName="password" required/>
                             <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</section>