login {
    #login {
        width: 100%;
        background-color: #e6e9f0;
        #login-form-wrapper {
            flex: 1 auto;
            #login-form {
                width: 378px;
                height: 320px;
                background-color: #c2dde6;
            }

        }
    }
}